<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>上传图片</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
<div class="app">
    <div class="header"></div>
    <h2 class="title">请上传培训照片</h2>
    <ul class="list">
        <li class="item">
            <img src="../../../assets/images/html/upload-default-icon.png" alt="">
            <input type="file" accept="image/gif,image/jpg,image/jpeg,image/bmp,image/png">
        </li>
        <li class="item">
            <img src="../../../assets/images/html/upload-default-icon.png" alt="">
            <input type="file" accept="image/gif,image/jpg,image/jpeg,image/bmp,image/png">
        </li>
        <li class="item">
            <img src="../../../assets/images/html/upload-default-icon.png" alt="">
            <input type="file" accept="image/gif,image/jpg,image/jpeg,image/bmp,image/png">
        </li>
        <li class="item">
            <img src="../../../assets/images/html/upload-default-icon.png" alt="">
            <input type="file" accept="image/gif,image/jpg,image/jpeg,image/bmp,image/png">
        </li>
        <li class="item">
            <img src="../../../assets/images/html/upload-default-icon.png" alt="">
            <input type="file" accept="image/gif,image/jpg,image/jpeg,image/bmp,image/png">
        </li>
        <li class="item">
            <img src="../../../assets/images/html/upload-default-icon.png" alt="">
            <input type="file" accept="image/gif,image/jpg,image/jpeg,image/bmp,image/png">
        </li>
    </ul>
    <p class="prompt">*非必填</p>
    <div class="button">
        <span>完成培训</span>
    </div>
</div>
</body>
</html>

