<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>下载码可</title>
    <!--引入ico-->
    <!--<link rel="shortcut icon" href="static/favicon.ico?v=2">-->
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="app">
        <img src="../../../assets/images/html/sign-logo-icon.png" alt="logo" class="logo">
        <div class="form">
            <div class="title">
                <i></i>
                <h2>个人信息绑定</h2>
            </div>
            <div class="form-box">
                <input type="text" placeholder="请输入姓名">
            </div>
            <div class="form-box">
                <input type="text" placeholder="请输入手机号">
            </div>
            <div class="sub-button">
                <span>立即绑定</span>
            </div>
        </div>
    </div>
    <div class="popup-wrap hidden">
        <div class="popup-inner">
            <div class="popup-con">
                <p>会议申请未通过</p>
                <p>请联系管理人员</p>
            </div>
            <div class="button blue">
                <span>确　定</span>
            </div>
        </div>
    </div>
</body>
</html>

