@import "../../../../../assets/scss/_define";
@import "../../../../../assets/scss/common";
@import "../../../../../assets/scss/redcarpet";

.app{
    @extend %df;
    @extend %fdc;
    @extend %aic;
}
.header{
    margin-bottom: j(90);
}
.title{
    @extend %tac;
    @extend %fwn;
    margin-top: j(10);
    font-size: j(18);
    color: #00993f;
}
.list{
    margin: j(10) auto 0;
}
.item{
    @extend %bsb;
    width: j(332);
    border: 1px solid #dedede;
    background-color: rgba(255, 255, 255, .3);
    padding: j(16);
    margin-bottom: j(20);
    .button{
        margin-top: j(10);
    }
}
.con{
    @extend %df;
    @extend %fww;
}
.text{
    @extend %df;
    @extend %aic;
    font-size: j(12);
    color: #999;
    margin-top: j(6);
    i{
        @extend %db;
        width: j(6);
        height: j(6);
        border-radius: 50%;
        background-color: #a7d2b7;
        margin-right: j(5);
    }
    .color{
        @extend %df1;
        @extend %oh;
        color: #333;
        height: j(16);
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    span{
        @extend %db;
        margin-right: j(4);
    }
    &:nth-child(even){
        @extend %df1;
    }
    &:nth-child(odd){
        width: j(180);
    }
    &:last-child{
        width: auto;
    }
}
