<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>个人主页</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
<div class="app">
    <div class="header"></div>
    <div class="button">
        <i></i>
        <span>门店管理</span>
    </div>
    <div class="user-info">
        <i class="name-icon"></i>
        <span>王某某</span>
        <i class="tel-icon"></i>
        <span>12345678901</span>
    </div>
    <div class="button-wrap">
        <div class="button-link link-1"></div>
        <div class="button-link link-2"></div>
        <div class="button-link link-3"></div>
        <div class="button-link link-4"></div>
    </div>
    <div class="workshop-info">
        <i></i>
        <span class="workshop-label">今日培训：</span>
        <span class="workshop-value">2018/02/02 上海汽车俱乐部上海汽车俱乐部</span>
    </div>
    <div class="prompt">
        <a href="javascript:;" class="prompt-link">查看往期培训</a>
    </div>
    <ul class="list">
        <li class="item item-1">
            <i></i>
            <p>已培训门店数量</p>
            <p class="num">100家</p>
        </li>
        <li class="item item-2">
            <i></i>
            <p>受训人员数量</p>
            <p class="num">100家</p>
        </li>
        <li class="item item-3">
            <i></i>
            <p>已授权服务商数量</p>
            <p class="num">100家</p>
        </li>
        <li class="item item-4">
            <i></i>
            <p>受训人员答题通过率</p>
            <p class="num">100家</p>
        </li>
    </ul>
</div>
</body>
</html>

