@import "../../../../../assets/scss/_define";
@import "../../../../../assets/scss/common";
@import "../../../../../assets/scss/redcarpet";

.app{
    @extend %df;
    @extend %fdc;
    @extend %aic;
}
.header{
    margin-bottom: j(100);
}
.title{
    font-size: j(18);
    color: #0e773b;
}
.bar{
    @extend %bg1;
    background-position: 0 j(-169);
    width: j(300);
    height: j(8);
    margin: j(14) auto j(20);
}
.info{
    @extend %bsb;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %ma;
    width: j(330);
    border: 1px solid #dedede;
    border-radius: j(10);
    background-color: rgba(255, 255, 255, .3);
    padding: j(16) j(25) j(30);
}
.textarea{
    @extend %bsb;
    padding: j(10);
    font-size: j(16);
    width: j(280);
    height: j(280);
    border: 1px solid #dedede;
}
