<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>研讨会申请</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
<div class="app">
    <div class="header"></div>
    <div class="info">
        <h2 class="title">研 讨 会 申 请</h2>
        <div class="bar"></div>
        <div class="info-item">
            <p class="label">HSSEcode：</p>
            <p class="value">0001</p>
        </div>
        <div class="info-item">
            <p class="label">会议主题：</p>
            <p class="value">会议编号</p>
        </div>
        <div class="info-item">
            <p class="label">申&nbsp;&nbsp;请&nbsp;人：</p>
            <p class="value">会议编号</p>
        </div>
        <div class="info-item">
            <p class="label">会议时间：</p>
            <p class="value">会议编号</p>
        </div>
        <div class="info-item">
            <p class="label">会议类型：</p>
            <p class="value">会议编号</p>
        </div>
        <div class="info-item">
            <p class="label">集　　团：</p>
            <p class="value">会议编号</p>
        </div>
        <div class="info-item">
            <p class="label">大　　区：</p>
            <p class="value">会议编号</p>
        </div>
        <div class="info-item">
            <p class="label">城　　市：</p>
            <p class="value">会议编号</p>
        </div>
        <div class="info-item">
            <p class="label">申请费用：</p>
            <p class="value">会议编号</p>
        </div>
        <div class="info-item">
            <p class="label">申请人数：</p>
            <p class="value">会议编号</p>
        </div>
        <div class="info-item">
            <p class="label">会议说明：</p>
            <p class="value">会议编号会议编号会议编号会议编号会议编号会议编号</p>
        </div>
    </div>
    <div class="button-wrap">
        <div class="button blue">
            <span>通过申请</span>
        </div>
        <div class="button">
            <span>拒绝申请</span>
        </div>
    </div>
    <div class="popup-wrap red-carpet hidden">
        <div class="popup-inner">
            <div class="popup-con blue-color">
                <p>已通过研讨会申请</p>
            </div>
            <div class="popup-footer">
                <div class="button blue">
                    <span>确 定</span>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-wrap red-carpet hidden">
        <div class="popup-inner">
            <h3 class="popup-title">申请未通过</h3>
            <div class="popup-con">
                <p>未通过原未通过原因未通过原因未通过原因未通过原因未通过原因未通过原因因未通过原因</p>
            </div>
            <div class="popup-footer">
                <div class="button blue">
                    <span>重新提交</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

