<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>开始签到</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="app">
        <div class="header"></div>
        <h2 class="title">会议信息</h2>
        <div class="info">
            <div class="info-item">
                <i></i>
                <span>会议时间：</span>
                <span class="color">会议时间</span>
            </div>
            <div class="info-item">
                <i></i>
                <span>培训时间：</span>
                <span class="color">培训时间</span>
            </div>
            <div class="info-item">
                <i></i>
                <span>会议申请人数：</span>
                <span class="color">会议申请人数</span>
            </div>
        </div>
        <h2 class="title">签到二维码</h2>
        <p class="prompt">(请在现场邀请参会人员扫码签到）</p>
        <p class="prompt">有效日期：2018年12月20日</p>
        <img class="image" src="../../../assets/images/html/wechat-code.png" alt="签到二维码">
        <p class="number">现场已签到人数：<span>46人</span></p>
        <div class="button-wrap">
            <div class="button blue">
                <span>刷新</span>
            </div>
            <div class="button">
                <span>上传照片</span>
            </div>
        </div>
    </div>
</body>
</html>

