<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>嘉实多纪念日</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="logo"></div>
    <div class="app">
        <h3>标记您的专属纪念日：</h3>
        <input type="hidden" value="2019/02/02">
        <table id='mycalendar' class='calendar'></table>
        <div class="button-text"><span>确　定</span></div>
    </div>
    <script src="assets/lib/jquery-1.8.1.min.js"></script>
    <script src="assets/lib/dcalendar.picker.js"></script>
    <script>
        var date = '';
        $('#mycalendar').dcalendar({
            format: 'yyyy/mm/dd',
        }).on('selectdate', function(e){
            console.log(e)
            console.log(e.date)
            date = e.date;
        });
        $('.button-text').on('click', function () {
            console.log(date)
            alert(date);
        })
    </script>
</body>
</html>

