<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>个人主页-已审核列表</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="app">
        <div class="header"></div>
        <div class="tab">
            <a class="tab-item" href="javascript:;">
                <span>到店SA培训</span>
            </a>
            <div class="tab-item active">
                <span>预约红毯培训</span>
            </div>
        </div>
        <div class="main">
            <div class="inner">
                <div class="select-box">
                    <select>
                        <option>集团</option>
                    </select>
                    <select>
                        <option>品牌</option>
                    </select>
                </div>
                <p class="prompt">共进行了<span>5场</span>红毯培训</p>
                <ul class="list">
                    <li class="item">
                        <ul class="con">
                            <li class="text">
                                <i></i>
                                <span>集团：</span>
                                <span class="color">集团名称</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>品牌：</span>
                                <span class="color">品牌名称</span>
                            </li>
                            <li class="text max">
                                <i></i>
                                <span>培训地址：</span>
                                <span class="color">培训地址培训地址培训地址培训地址</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>答题人数：</span>
                                <span class="color">15人</span>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <ul class="con">
                            <li class="text">
                                <i></i>
                                <span>集团：</span>
                                <span class="color">集团名称</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>品牌：</span>
                                <span class="color">品牌名称</span>
                            </li>
                            <li class="text max">
                                <i></i>
                                <span>培训地址：</span>
                                <span class="color">培训地址培训地址培训地址培训地址</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>答题人数：</span>
                                <span class="color">15人</span>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <ul class="con">
                            <li class="text">
                                <i></i>
                                <span>集团：</span>
                                <span class="color">集团名称</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>品牌：</span>
                                <span class="color">品牌名称</span>
                            </li>
                            <li class="text max">
                                <i></i>
                                <span>培训地址：</span>
                                <span class="color">培训地址培训地址培训地址培训地址</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>答题人数：</span>
                                <span class="color">15人</span>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <ul class="con">
                            <li class="text">
                                <i></i>
                                <span>集团：</span>
                                <span class="color">集团名称</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>品牌：</span>
                                <span class="color">品牌名称</span>
                            </li>
                            <li class="text max">
                                <i></i>
                                <span>培训地址：</span>
                                <span class="color">培训地址培训地址培训地址培训地址</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>答题人数：</span>
                                <span class="color">15人</span>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <ul class="con">
                            <li class="text">
                                <i></i>
                                <span>集团：</span>
                                <span class="color">集团名称</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>品牌：</span>
                                <span class="color">品牌名称</span>
                            </li>
                            <li class="text max">
                                <i></i>
                                <span>培训地址：</span>
                                <span class="color">培训地址培训地址培训地址培训地址</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>答题人数：</span>
                                <span class="color">15人</span>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <ul class="con">
                            <li class="text">
                                <i></i>
                                <span>集团：</span>
                                <span class="color">集团名称</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>品牌：</span>
                                <span class="color">品牌名称</span>
                            </li>
                            <li class="text max">
                                <i></i>
                                <span>培训地址：</span>
                                <span class="color">培训地址培训地址培训地址培训地址</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>答题人数：</span>
                                <span class="color">15人</span>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <ul class="con">
                            <li class="text">
                                <i></i>
                                <span>集团：</span>
                                <span class="color">集团名称</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>品牌：</span>
                                <span class="color">品牌名称</span>
                            </li>
                            <li class="text max">
                                <i></i>
                                <span>培训地址：</span>
                                <span class="color">培训地址培训地址培训地址培训地址</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>答题人数：</span>
                                <span class="color">15人</span>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <ul class="con">
                            <li class="text">
                                <i></i>
                                <span>集团：</span>
                                <span class="color">集团名称</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>品牌：</span>
                                <span class="color">品牌名称</span>
                            </li>
                            <li class="text max">
                                <i></i>
                                <span>培训地址：</span>
                                <span class="color">培训地址培训地址培训地址培训地址</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>答题人数：</span>
                                <span class="color">15人</span>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <ul class="con">
                            <li class="text">
                                <i></i>
                                <span>集团：</span>
                                <span class="color">集团名称</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>品牌：</span>
                                <span class="color">品牌名称</span>
                            </li>
                            <li class="text max">
                                <i></i>
                                <span>培训地址：</span>
                                <span class="color">培训地址培训地址培训地址培训地址</span>
                            </li>
                            <li class="text">
                                <i></i>
                                <span>答题人数：</span>
                                <span class="color">15人</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

