<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>预约红毯培训</title>
    <script src="assets/lib/flexible.js"></script>
    <script src="assets/lib/jquery-1.8.1.min.js"></script>

    <!--!!!这可以删除-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!--/!!!这可以删除-->

</head>
<body>
    <div class="app">
        <div class="header"></div>
        <div class="container">
            <h2 class="title">预约红毯培训</h2>
            <div class="bar"></div>
            <div class="input-box">
                <label class="label key">培训时间</label>
                <input class="input value" type="text" placeholder=""/>
            </div>
            <div class="input-box">
                <label class="label key">培训时长</label>
                <div class="value select">
                    <div class="select">
                        <select>
                            <option>-省-</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label class="label key">培训类型</label>
                <div class="radio value">
                    <div class="radio-item active">
                        <i></i>
                        <span>集团培训</span>
                    </div>
                    <div class="radio-item">
                        <i></i>
                        <span>OEM培训</span>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label class="label key"></label>
                <div class="select value">
                    <select id="area">
                        <option>-请选择集团-</option>
                        <option value="1">珠海</option>
                        <option value="2">深圳</option>
                        <option value="3">澳门</option>
                        <option value="4">香港</option>
                        <option value="1">珠海</option>
                        <option value="2">深圳</option>
                        <option value="3">澳门</option>
                        <option value="4">香港</option>
                        <option value="1">珠海</option>
                        <option value="2">深圳</option>
                        <option value="3">澳门</option>
                        <option value="4">香港</option>
                        <option value="1">珠海</option>
                        <option value="2">深圳</option>
                        <option value="3">澳门</option>
                        <option value="4">香港</option>
                        <option value="1">珠海</option>
                        <option value="2">深圳</option>
                        <option value="3">澳门</option>
                        <option value="4">香港</option>
                    </select>
                </div>
            </div>
            <div class="input-box">
                <label class="label key">培训课程</label>
                <div class="value check">
                    <div class="check-item active">
                        <div class="check-icon"></div>
                        <span>了解与销售</span>
                    </div>
                    <div class="check-item">
                        <div class="check-icon"></div>
                        <span>了解与</span>
                    </div>
                    <div class="check-item">
                        <div class="check-icon"></div>
                        <span>了解与</span>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label class="label key"></label>
                <div class="select value">
                    <select>
                        <option>-请选择具体课程-</option>
                        <option value="1">珠海</option>
                        <option value="2">深圳</option>
                    </select>
                </div>
            </div>
            <div class="input-box">
                <label class="label key">培训人数</label>
                <input class="input value" type="text" placeholder=""/>
            </div>
            <div class="input-box">
                <label class="label key">培训地址</label>
                <div class="value select-wrap">
                    <div class="select">
                        <select>
                            <option>-省-</option>
                        </select>
                    </div>
                    <div class="select">
                        <select>
                            <option>-市-</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label class="label key"></label>
                <textarea class="input value textarea" placeholder="-请输入详细的培训地址（必填）-"></textarea>
            </div>
            <div class="input-box">
                <label class="label key">申请费用</label>
                <input class="input value unit-input" type="text" placeholder=""/>
                <span class="unit">元</span>
            </div>
            <div class="input-box">
                <label class="label key">备　　注</label>
                <textarea class="input value textarea"></textarea>
            </div>
        </div>
        <div class="button">
            <span>确定</span>
        </div>
    </div>
    <div class="popup-wrap red-carpet hidden">
        <div class="popup-inner">
            <div class="popup-image"></div>
            <div class="popup-con">
                <p>您的红毯培训信息已提交审核<br>
                    您的渠道经理XXX将与您联系</p>
            </div>
            <div class="popup-footer">
                <div class="button">
                    <span>审核中</span>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-wrap red-carpet hidden">
        <div class="popup-inner">
            <div class="popup-con">
                <p>培训未开始<br>
                    培训时间：2018-12-22</p>
            </div>
            <div class="popup-footer">
                <div class="button blue">
                    <span>确 定</span>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-wrap red-carpet hidden">
        <div class="popup-inner">
            <h3 class="popup-title">培训未通过</h3>
            <div class="popup-con">
                <p>未通过原未通过原因未通过原因未通过原因未通过原因未通过原因未通过原因因未通过原因</p>
            </div>
            <div class="popup-footer">
                <div class="button blue">
                    <span>确 定</span>
                </div>
            </div>
        </div>
    </div>
</body>
<!--!!!这可以删除-->
<script type="text/javascript">

    //页面加载完成后初始化select2控件
    $(function () {
        $("#area").select2();
    });
</script>
<!--/!!!这可以删除-->
</html>

