@import "../../../assets/scss/_define";
@import "../../../assets/scss/common";
@import "../../../assets/scss/redcarpet";

.container{
    @extend %bsb;
    margin: j(100) auto 0;
    width: j(330);
    border: 1px solid #dedede;
    border-radius: j(10);
    background-color: rgba(255, 255, 255, .3);
    padding: j(22) j(25);
}
.title{
    @extend %tac;
    font-size: j(18);
    color: #e40521;
}
.bar{
    @extend %bg1;
    background-position: 0 j(-169);
    width: j(300);
    height: j(8);
    margin: j(14) 0 j(20) j(-10);
}
.input-box{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-bottom: j(12);
    color: #2c2c2c;
    font-size: j(13);
}
.label{
    width: j(70);
}
.input{
    @extend %df1;
    line-height: j(26);
    padding: 0 j(10);
    border: 1px solid #bababa;
}
.unit-input{
    min-width: j(100);
}
.value{
    @extend %bsb;
    width: j(205);
    height: j(26);
}
.check{
    @extend %df;
    @extend %aic;
    flex-wrap: wrap;
    height: auto;
    padding-top: j(10);
}
.check-item{
    @extend %cp;
    @extend %df;
    @extend %aic;
    margin: 0 j(20) j(10)  0;
    &.active{
        .check-icon{
            @extend %pr;
            &:after{
                @extend %pa;
                @include tfr(-45deg);
                content: '';
                left: j(2);
                top: j(2);
                width: j(8);
                height: j(4);
                border: 2px solid #097f39;
                border-top: none;
                border-right: none;
                background: transparent;
            }
        }
    }
}
.check-icon{
    width: j(12);
    height: j(12);
    border: 2px solid #097f39;
    margin-right: j(6);
}
.radio{
    @extend %df;
    @extend %aic;
    justify-content: space-between;
}
.radio-item{
    @extend %df;
    @extend %aic;
    i{
        @extend %bg1;
        @extend %oh;
        width: j(20);
        height: j(20);
        margin-right: j(5);
    }
    &.active{
        i{
            background-position: j(-110) 0;
        }
    }
}
.select-wrap{
    @extend %df;
    @extend %aic;
    justify-content: space-between;
    .select{
        width: j(98);
    }
}
.select{
    @extend %pr;
    @extend %h100;
    select{
        background: url("../../../assets/images/css/select-icon.png") right center no-repeat;
        background-size: j(26);
        @extend %w100;
        @extend %h100;
        @extend %bsb;
        @extend %l0;
        font-size: j(13);
        color: #9e9e9e;
        border: 1px solid #bababa;
        padding: 0 j(10);
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    }
}
.textarea{
    height: j(57);
    padding: j(5) j(10);
}
.unit{
    margin-left: j(10);
}
